

/* home */
.navbar{
    background-color: rgb(130, 16, 158);
    background: linear-gradient(90deg,rgb(130, 16, 158)50%,rgb(130, 16, 158)100%);
}

#home{

     /* background-color: rgb(123, 100, 255);
    background: linear-gradient(90deg,rgb(99, 91, 105)50%,rgb(14, 14, 15)100%); */
    min-height: 500px;
    
} 

.form{
    background-color: rgb(130, 16, 158);
    background: linear-gradient(90deg,rgb(130, 16, 158)50%,rgb(41, 39, 33)100%);

}
.footer{
    background-color: rgb(130, 16, 158);
    background: linear-gradient(90deg,rgb(120, 16, 158)50%,rgb(41, 39, 43)100%);
}

