@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Joan&family=Montserrat:wght@200&family=Ubuntu:wght@300&display=swap");
body {
  
  font-family: Ubuntu  ;
  background-color: #eee8e5 !important;
}
.contact-file {
  width: 75%;
  height: 65%;
}
.contact-file1 {
  width: 100%;
  height: 75%;
  border-radius: 4px;
}
.contact-file0 {

  height: 100px;
  
}
.align{
 color: white;
  text-align: center;
  background-color: rgb(130, 16, 158);
  background: linear-gradient(90deg,rgb(130, 16, 158)50%,rgb(130, 16, 158)100%);
  padding: 20px;
  
  
}